.license-card { 

    .textured-bg {
        background-image: url('../../../Assets/Img/licenseCardBG.svg');
        background-size: cover;
    }

    .trial-license-badge {
        background-color: var(--divider-secondary-translucent);
        letter-spacing: 0.55px;
    }
}
