.git-commit-info-generic__wrapper {
    .git-commit-info-generic__header {
        display: grid;
        grid-template-columns: 20px 1fr;
    }

    &:hover {
        .git-commit-info-generic__copy{
            visibility: visible;
        }

        .material-history__box-shadow {
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    }
    }
}