.generic-table {
    --resize-btn-scale-multiplier: 2.25;

    &__cell > * {
        height: 100%;
        width: 100%;
    }

    &__cell--sticky {
        background-color: var(--bg-primary);
        transition: box-shadow 0.1s ease-in-out;

        &::before {
            position: absolute;
            content: '';
            left: -16px;
            width: 16px;
            height: 100%;
            background-color: inherit;
            z-index: -1;
        }

        &:first-of-type::before {
            left: -20px;
            width: 20px;
        }
    }

    &--scrolled {
        .generic-table__header .generic-table__cell--sticky:not(:has(+ .generic-table__cell--sticky)) {
            .sortable-table-header__resize-btn {
                > div {
                    transform: scaleY(var(--resize-btn-scale-multiplier));
                }
            }
        }

        .generic-table__row > .generic-table__cell--sticky:not(:has(+ .generic-table__cell--sticky)) {
            // Show a right border on the last sticky cell when the table is scrolled
            // Using box-shadow to avoid layout issues with borders, since borders can affect the width of the cell
            box-shadow:
                0px 0px 0px 0px transparent,
                1px 0px 0px 0px var(--border-primary);
        }
    }

    &__row {
        &:focus {
            outline: none;
        }

        &:hover,
        &:hover > *,
        &--active,
        &--active > * {
            background-color: var(--bg-hover-opaque);
        }

        &--bulk-selected,
        &--bulk-selected > * {
            background-color: var(--B50);
        }

        &--bulk-selected:hover,
        &--bulk-selected:hover > *,
        &--bulk-selected.generic-table__row--active,
        &--bulk-selected.generic-table__row--active > * {
            background-color: var(--B100);
        }
    }

    .sortable-table-header__resize-btn:hover,
    .sortable-table-header__resize-btn--dragging {
        > div {
            // NOTE: to reuse the same scale multiplier as the header cell
            // fixing the height to 16px which is the default height
            height: 16px !important;
            transform: scaleY(var(--resize-btn-scale-multiplier));
        }
    }
}
