.generic-table {
    &__cell > * {
        height: 100%;
        width: 100%;
    }

    &__cell--sticky {
        background-color: var(--bg-primary);

        &::before {
            position: absolute;
            content: '';
            left: -16px;
            width: 16px;
            height: 100%;
            background-color: inherit;
        }

        &:first-of-type::before {
            left: -20px;
            width: 20px;
        }
    }

    &__row {
        &:focus {
            outline: none;
        }

        &:hover,
        &:hover > *,
        &--active,
        &--active > * {
            background-color: var(--bg-hover-opaque);
        }

        &--bulk-selected,
        &--bulk-selected > * {
            background-color: var(--B50);
        }

        &--bulk-selected:hover,
        &--bulk-selected:hover > *,
        &--bulk-selected.generic-table__row--active,
        &--bulk-selected.generic-table__row--active > * {
            background-color: var(--B100);
        }
    }
}
