.generic-table {
    &__row:hover,
    &__row:hover > *,
    &__row--active,
    &__row--active > * {
        background-color: var(--bg-hover-opaque);
    }

    &__row--bulk-selected,
    &__row--bulk-selected > * {
        background-color: var(--B50);
    }

    &__row--bulk-selected:hover,
    &__row--bulk-selected:hover > *,
    &__row--bulk-selected.generic-table__row--active,
    &__row--bulk-selected.generic-table__row--active > * {
        background-color: var(--B100);
    }
}