.chip {
    --xs-size: 24px;
    --small-size: 28px;
    --medium-size: 32px;

    div>button[data-testid="chip__remove-btn"],
    div>a[data-testid="chip__visit-link"] {
        border-radius: 0;
        margin-right: -1px;
    }

    &--link {
        div:has(> a[data-testid="chip__visit-link"]) {
            transition: width 0.2s, opacity 0.2s;
            opacity: 0;
            width: 0;
        }

        &:hover {
            div:has(> a[data-testid="chip__visit-link"]) {
                opacity: 1;
            }
        }

        &.chip--xs:hover {
            div:has(> a[data-testid="chip__visit-link"]) {
                width: var(--xs-size);
            }
        }

        &.chip--small:hover {
            div:has(> a[data-testid="chip__visit-link"]) {
                width: var(--small-size);
            }
        }

        &.chip--medium:hover {
            div:has(> a[data-testid="chip__visit-link"]) {
                width: var(--medium-size);
            }
        }
    }

    &:hover {
        background-color: var(--bg-secondary);
    }

    &--error {
        border: 1px solid var(--R200);

        &:hover {
            background-color: var(--R50);
        }
    }

    &--button {
        &:active {
            background-color: var(--bg-tertiary);
        }

        &.chip--error {
            &:active {
                background-color: var(--R100);
            }
        }
    }

    &--xs {
        height: var(--xs-size);
    }

    &--small {
        height: var(--small-size);
    }

    &--medium {
        height: var(--medium-size);
    }
}