.rjsf-form-template {
    &__container > div:first-child {
        padding: 20px;
        margin-right: 28px;
    }

    &__field, &__field--error {
        grid-template-columns: 250px 1fr;

        input.form__input {
            padding: 6px 8px;
        }
    }

    &__field {
        grid-template-columns: 250px 1fr;
    }

    &__additional-fields {
        grid-template-columns: 1fr 1fr minmax(20px, auto);
    }

    &__array-field-item {
        grid-template-columns: 1fr auto;
        z-index: 0;
        background: transparent;

        & > :first-child {
            // This is added as the array field itself has a margin bottom
            margin: 0;
        }

        &:has(> .remove-btn__container:hover)::after {
            background: var(--R50);
        }

        &:has(> .remove-btn__container)::after {
            border-radius: 4px;
            transform: translate(-50%, -50%);
            top: 50%; 
            left: 50%; 
            background: transparent;
            z-index: -1;
            position: absolute;
            /* NOTE: this overlay is exactly 6px wider & taller on all sides
             * therefore the 12px (6 + 6) on height & width */
            height: calc(100% + 12px);
            width: calc(100% + 12px);
            content: '';
            transition: all 100ms ease-out;
        }

        & > .remove-btn__container:hover {
            fill: var(--R500);
            path {
                fill: var(--R500);
            }
        }

        & > .remove-btn__container {
            transition: all 100ms ease-out;
        }
    }
}
