.build-infra-unit-select {
    &__control {
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }

    &__menu {
        min-width: 80px !important;
    }
}