.tab-group {
    list-style: none;

    &__tab {
        $parent-selector: &;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: transparent;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }

        &--align-active-border::after {
            bottom: -1px;
        }

        &:hover {
            color: var(--B500);

            #{$parent-selector}__icon {
                &--stroke {
                    stroke: var(--B500);

                    path {
                        stroke: var(--B500);
                    }
                }

                &--fill {
                    fill: var(--B500);

                    path {
                        fill: var(--B500);
                    }
                }
            }
        }

        &--active::after {
            background-color: var(--B500);
        }

        &__badge {
            border-radius: 100%;
            width: 20px;

            &--medium {
                width: 18px;
            }
        }

        &__indicator {
            width: 6px;
            height: 6px;
            border-radius: 100%;
        }

        &__nav-link {
            &.active {
                color: var(--B500);
                font-weight: 600;

                > #{$parent-selector}__icon--fill {
                    fill: var(--B500);

                    path {
                        fill: var(--B500);
                    }
                }

                > #{$parent-selector}__icon--stroke {
                    stroke: var(--B500);

                    path {
                        stroke: var(--B500);
                    }
                }
            }

            &:not(.active) {
                color: var(--N900);
            }

            &:hover {
                color: var(--B500);
            }
        }

        &:has(.active) {
            &::after {
                background-color: var(--B500);
            }
        }
    }
}
