.action-menu {
    list-style: none;

    &__group {
        border-top: 1px solid var(--border-secondary);

        &:first-child {
            border-top: none;
        }
    }

    &__group-list {
        list-style: none;
    }

    &__option {
        &--focused {
            background-color: var(--bg-hover);
        }

        &--focused-negative {
            background-color: var(--R50);
        }

        > button {
            text-align: left;
        }
    }

    &__searchbox input {
        border: none;
        padding: 0;
        background-color: transparent;
    }
}
