[id*="table__resource-conflict-details"] {
    .generic-table__row {
        .generic-table__cell {
            display: flex;
            align-items: center;
            padding: 10px 0;
        }
    }
}