.logs-renderer {
    &__search-bar {
        .search-bar {
            background: transparent;
            border-radius: 0px;
            border: none !important;

            input {
                color: var(--N0);

                &::placeholder {
                    color: var(--N500);
                }
            }

            &:hover {
                border: none !important;
                background: transparent;
            }
        }

        .search-bar:focus-within {
            border: none !important;
        }
    }

    // TODO: Sync with product to replace this placeholder
    &__stage-accordion-hover {
        &:hover {
            background-color: #2C3354 !important;
        }
    }

    &__filters-border-bottom {
        border-bottom: 1px solid #2C3354;
    }
}