.status-filter {
    &__container {
        .segmented-control {
            border-radius: 6px;
        }


        &:has(.popup-button-kebab) {
            .segmented-control {
                border-top-right-radius: 0px !important;
                border-bottom-right-radius: 0px !important;
            }

            .popup-button-kebab {
                background: var(--bg-segmented-control);

                &:hover {
                    background: var(--bg-hover);
                }
            }
        }
    }
}