.tree-view {
    &__container {
        .icon-with-divider {
            grid-template-rows: 24px auto;
        }

        &--item {
            &:hover {
                .tree-view__divider {
                    background-color: var(--B500);
                    height: 16px;
                    border-radius: 3px;
                }
            }
        }
    }
}