.form__checkbox-label {
    font-weight: 400;
    display: inline-block;
    margin-left: 12px;
    line-height: 16px;
}

.form__checkbox__root {
    &--gap-8 {
        .form__checkbox-label {
            margin-left: 8px;
        }
    }
}

.form__checkbox-check {
    display: none;
}

$checkbox-hover-bg-image: url('./assets/ic-checkbox-hover.svg');

.form__checkbox-container {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./assets/ic-checkbox-unselected.svg');
    transition: background-image 0.17s;

    &:hover {
        background-image: $checkbox-hover-bg-image;
    }
}

// Class for checkbox parent container, if added to parent container, hover effect will be applied to checkbox
.checkbox__parent-container {
    &:hover {
        .form__checkbox-container {
            background-image: $checkbox-hover-bg-image;
        }
    }
}

.form__checkbox:checked[value='INTERMEDIATE'] ~ .form__checkbox-container {
    background-image: url('./assets/ic-checkbox-intermediate.svg');
}

.form__checkbox:checked[value='CHECKED'] ~ .form__checkbox-container {
    background-image: url('./assets/ic-checkbox-selected.svg');
}

.form__checkbox.error:checked[value='CHECKED'] ~ .form__checkbox-container {
    background-image: url('./assets/ic-checkbox-selected-error.svg');
}

.form__checkbox:checked[value='BULK_CHECKED'] ~ .form__checkbox-container {
    background-image: url('./assets/ic-bulk-check.svg');
}

.form__checkbox:disabled ~ .form__checkbox-label,
.form__checkbox:disabled ~ .form__checkbox-container {
    color: var(--N500);
    cursor: not-allowed;
    opacity: 0.5;
}

// These are just hack, not to be further extended
.theme {
    &__dark {
        $checkbox-hover-bg-image: url('./assets/dark/ic-checkbox-hover.svg');

        .form__checkbox-container {
            background-image: url('./assets/dark/ic-checkbox-unselected.svg');

            &:hover {
                background-image: $checkbox-hover-bg-image;
            }
        }

        // Class for checkbox parent container, if added to parent container, hover effect will be applied to checkbox
        .checkbox__parent-container {
            &:hover {
                .form__checkbox-container {
                    background-image: $checkbox-hover-bg-image;
                }
            }
        }

        .form__checkbox:checked[value='INTERMEDIATE'] ~ .form__checkbox-container {
            background-image: url('./assets/dark/ic-checkbox-intermediate.svg');
        }

        .form__checkbox:checked[value='CHECKED'] ~ .form__checkbox-container {
            background-image: url('./assets/dark/ic-checkbox-selected.svg');
        }

        .form__checkbox.error:checked[value='CHECKED'] ~ .form__checkbox-container {
            background-image: url('./assets/dark/ic-checkbox-selected-error.svg');
        }

        .form__checkbox:checked[value='BULK_CHECKED'] ~ .form__checkbox-container {
            background-image: url('./assets/dark/ic-bulk-check.svg');
        }
    }
}
