@mixin button-variant-styles($background, $text-color, $border-color) {
    background: $background;
    color: $text-color;
    border: 1px solid $border-color;

    // Only stroke icons are supposed to be used with button
    svg,
    svg * {
        stroke: $text-color;
    }

    // Custom state for loader
    // Added using css to ensure using the respective text-color
    .loader {
        visibility: visible;
        position: absolute;

        svg,
        svg * {
            fill: $text-color;
            stroke: none;
        }
    }
}

@mixin pseudo-states($hover-bg-color, $active-bg-color) {
    $parent-selector: &;

    &:hover:enabled {
        background: $hover-bg-color;
    }

    &:active:enabled {
        background: $active-bg-color;
    }
}

.button {
    // Reset the default styles
    background: none;
    color: inherit;
    border: none;
    outline: inherit;

    &__primary {
        $border-color: transparent;
        $text-color: var(--N0);

        &--default {
            @include button-variant-styles(var(--B500), $text-color, $border-color);
            @include pseudo-states(var(--B600), var(--B700));
        }

        &--negative {
            @include button-variant-styles(var(--R500), $text-color, $border-color);
            @include pseudo-states(var(--R600), var(--R700));
        }

        &--positive {
            @include button-variant-styles(var(--G500), $text-color, $border-color);
            @include pseudo-states(var(--G600), var(--G700));
        }

        &--warning {
            $text-color: var(--N900);

            @include button-variant-styles(var(--Y500), $text-color, $border-color);
            @include pseudo-states(var(--Y600), var(--Y700));
        }

        &--neutral {
            @include button-variant-styles(var(--N500), $text-color, $border-color);
            @include pseudo-states(var(--N600), var(--N700));
        }
    }

    &__secondary {
        $background: var(--N0);
        $border-color: var(--N200);

        &--default {
            @include button-variant-styles($background, var(--B500), $border-color);
            @include pseudo-states(var(--B100), var(--B200));
        }

        &--negative {
            @include button-variant-styles($background, var(--R600), $border-color);
            @include pseudo-states(var(--R100), var(--R200));
        }

        &--positive {
            @include button-variant-styles($background, var(--G600), $border-color);
            @include pseudo-states(var(--G100), var(--G200));
        }

        &--warning {
            @include button-variant-styles($background, var(--Y700), $border-color);
            @include pseudo-states(var(--Y100), var(--Y200));
        }

        &--neutral {
            @include button-variant-styles($background, var(--N700), $border-color);
            @include pseudo-states(var(--N100), var(--N200));
        }
    }

    // Base styling is same for text and link button
    &__text,
    &__link {
        $background: transparent;
        $border-color: transparent;

        &--default {
            @include button-variant-styles($background, var(--B500), $border-color);
        }

        &--negative {
            @include button-variant-styles($background, var(--R600), $border-color);
        }

        &--positive {
            @include button-variant-styles($background, var(--G600), $border-color);
        }

        &--warning {
            @include button-variant-styles($background, var(--Y700), $border-color);
        }

        &--neutral {
            @include button-variant-styles($background, var(--N700), $border-color);
        }
    }

    // Pseudo states for text button
    &__text {
        &--default {
            @include pseudo-states(var(--B100), var(--B200));
        }

        &--negative {
            @include pseudo-states(var(--R100), var(--R200));
        }

        &--positive {
            @include pseudo-states(var(--G100), var(--G200));
        }

        &--warning {
            @include pseudo-states(var(--Y100), var(--Y200));
        }

        &--neutral {
            @include pseudo-states(var(--N100), var(--N200));
        }
    }

    // Overrides for link button
    &__link {

        &--default,
        &--negative,
        &--positive,
        &--warning,
        &--neutral {
            padding: 0;
            min-width: 0;
            border: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // Hide the visibility for the button child elements when loading is true
    &--loading>* {
        visibility: hidden;
    }
}
